{% extends 'base.html' %}

{% block title %}Learning Summary{% endblock %}

{% block content %}

Here are the grammars you should be focusing on next in your learning:
	<ul>
	{% for focus in focus_titles %}
		<li>{{ focus }}</li>
	{% endfor %}
	</ul>

	<p><a href="{% url "Quiz:dashboard" %}">Return to dashboard</a></p>
{% endblock %}
