{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	<h2>Progress Report for "{{ request.session.course_title }}"</h2>	
	<table class="table">	
	{% for key,value in stage_array.items %}
		{% if value.type == "stage" %}
		<thead class="thead-inverse">
			<tr>
				<th>
					Stage {{ value.stage_titles }}
				</th>
				<th>
				</th>
			</tr>
		</thead>
		{% else %}
		{% if value.highlight %}
			<tr style="background: #ff944d;">
		{% else %}
			<tr style="background: #eeeeee;"> 
		{% endif %}
			<td>
				<div class="progress"><div class="progress-bar 
				{% if value.colour == "Blue" %}progress-bar-info" {% endif %}
				{% if value.colour == "Green" %}progress-bar-success" {% endif %}
				{% if value.colour == "Yellow" %}progress-bar-warning  progress-bar-striped" {% endif %}
				{% if value.colour == "Red" %}progress-bar-danger" {% endif %}				
					role="progressbar" style="width: {% widthratio value.grammar_progress 1 100 %}%" 
					aria-valuenow="{% widthratio value.grammar_progress 1 100 %}" aria-valuemin="0" aria-valuemax="100">
					{% if value.colour == "Yellow" %}untested{% endif %}
					</div>
				</div>
			</td>
			<td>{{ value.grammar_titles }}</td>
  		</tr>
  		{% endif %}
	{% endfor %}
	</table>

{% endblock %}
