{% extends 'base.html' %}

{% block title %}Update Grammar{% endblock %}

{% block content %}
    <div class="panel panel-primary">
		<form method='POST' action=''>{% csrf_token %}
			<div class="panel-body">
				<div class="row" rows="6">
					<div class="col-md-6">
						<label for="id_Title">				
							Title:				
							<textarea id="id_Title" name="Title" class="form-control col-xs-12" rows="1"></textarea>
						</label>
					</div>			
					<div class="col-md-6">
						<label for="id_Explanation">Explanation:</label>
						<textarea id="id_Explanation" name="Explanation" class="form-control col-xs-12" rows="5"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label for="id_gram_conc">Grammar Concept:</label>
					</div>
					<div class="col-md-6">
						<label for="id_example_question">Example Question:</label>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="id_target_language">Target Language:</label>
					</div>		
					<div class="col-md-4">
						<label for="id_native_language">Native Language:</label>
					</div>		
					<div class="col-md-4">
						<label for="id_score">Score:</label>
					</div>		
				</div>
			</div>
		    <div class="panel-footer">
				<div class="row"></div>
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-1">
						<input class="btn btn-primary" type="submit" value="Save" />
				    </div>		
					<div class="col-md-5"></div>
				</div>
			</div>		
		</form>
	</div>
	<a href="{% url 'Quiz:dashboard'%}">Dashboard</a>
{% endblock %}


{% block javascript %}
	// reveal stage's grammar and highlight button
	$("body").click(function(e){
		if (e.target.id.startsWith("stage_button_")) {
			var but_id_num = e.target.id.replace("stage_button_","")
			var checkbox_id = "#stage_checkbox_" + but_id_num; 
			var gram_id = "#stage_grammar" + but_id_num;
			if ($(e.target).attr('class') == 'btn btn-success') {
				$(e.target).removeClass("btn btn-success").addClass("btn btn-default");
				$(gram_id).hide();
			} else if ($(e.target).attr('class') == 'btn btn-default') {
				$(e.target).removeClass("btn btn-default").addClass("btn btn-success");
				$(gram_id).show();
			};
			$(checkbox_id).prop('checked', !$(checkbox_id).is(':checked')) // inverse check
		};
	});

	// handles ticking of grammar points
	$(function () {
	    $('.button-checkbox').each(function () {
	        // Settings
	        var $widget = $(this),
	            $button = $widget.find('button'),
	            $checkbox = $widget.find('input:checkbox'),
	            color = $button.data('color'),
	            settings = { 									// unique to grammars
	                on: {
	                    icon: 'glyphicon glyphicon-check'
	                },
	                off: {
	                    icon: 'glyphicon glyphicon-unchecked'
	                }
	            };
	
	        // Event Handlers
	        $button.on('click', function () {
	            $checkbox.prop('checked', !$checkbox.is(':checked'));
	            $checkbox.triggerHandler('change');
	            updateDisplay();
	        });
	        $checkbox.on('change', function () {
	            updateDisplay();
	        });
	
	        // Actions
	        function updateDisplay() {
	            var isChecked = $checkbox.is(':checked');
	
	            // Set the button's state
	            $button.data('state', (isChecked) ? "on" : "off");
	
	            // Set the button's icon								// grammar only
	            $button.find('.state-icon')
	                .removeClass()
	                .addClass('state-icon ' + settings[$button.data('state')].icon);
	
	            // Update the button's color
	            if (isChecked) {
	                $button
	                    .removeClass('btn-default')
	                    .addClass('btn-' + color + ' active');
	            }
	            else {
	                $button
	                    .removeClass('btn-' + color + ' active')
	                    .addClass('btn-default');
	            }
	        }
	
	        // Initialization
	        function init() {
	
	            updateDisplay();
	
	            // Inject the icon if applicable
	            if ($button.find('.state-icon').length == 0) {
	                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
	            }
	        }
	        init();
	    });
	});
{% endblock %}




