{% extends 'base.html' %}

{% block title %}Grammar Concept List{% endblock %}

{% block content %}

	<ul>

	{% for gramC in object_list %}
	    <li>{{ gramC.title }} 
	    	| <a href="{% url 'Quiz:gramconcept-update' gramC.id %}">Update</a>
	    	| <a href="{% url 'Quiz:gramconcept-delete' gramC.id %}">Delete</a> 
	    </li>
	{% empty %}
	    <li>No Grammar Concepts found.</li>
	{% endfor %}

	</ul>

<a href="{% url 'Quiz:gramconcept-create'%}">Create a new entry</a>

{% endblock %}



