{% extends 'base.html' %}

{% block title %}{{ model_name }} List{% endblock %}

{% block content %}

	<ul>

	{% for item in object_list %}
	    <li>{{ item.title }} 
	    	| <a href="{% url update_url item.id %}">Update</a>
	    	| <a href="{% url delete_url item.id %}">Delete</a> 
	    </li>
	{% empty %}
	    <li>No {{ model_name }}s found.</li>
	{% endfor %}

	</ul>

<a href="{% url create_url %}">Create a new entry</a>

{% endblock %}



