{% extends 'base.html' %}

{% block title %}Choose which course you would like to study{% endblock %}

{% block content %}
	<div class="well">
		<form action="{% url 'Quiz:select-course' %}" method="post">
			{% csrf_token %}
		    {% for course in registered_courses %}
			    <p>
				    <input type="radio" name="choice" id="course{{ forloop.counter }}" value="{{ course.id }}" />
				    <label for="course{{ forloop.counter }}">{{ course.title }}</label>
				</p>
			{% endfor %}
			<input type="submit" value="Select" />
		</form>
	</div>
		
	<a href="{% url "Quiz:signup-course" %}">Sign up for a new course</a>
{% endblock %}