{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <p><a href="{% url "signup" %}"><button type="button" class=class="btn btn-default">Create a new account</button></a></p>  

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <div class="well">
        <form action="{% url "login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Log-in"></p>
        </form>
        <br><br>
		{% comment %}<a href="{% url "password_reset" %}"><button type="button" class=class="btn btn-warning">Forgotten your password?</button></a></p>{% endcomment %}
    </div>
    
    {% include "announcement.html" %}
    
{% endblock %}
