
<div class="jumbotron">
  <p>This project is currently in
  <h1>Alpha Release</h1>
  <p>It is only suitable for testing and feedback purposes. If you would like to be informed when future releases come out, 
  please provide your email address.</p>
  <p><a class="btn btn-primary btn-lg" href="http://eepurl.com/c4Aj2P" role="button">Sign up for Announcements</a></p>
  <h3>Updates</h3>
  <ul>
    <li>Only English->Turkish currently has content, so please select "English" as one of your native languages during sign-up, and "Learn Turkish" as your course. Otherwise there will be no content to see - sorry!</li>
  </ul>
</div>


