{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block head_title %}{% endblock %}</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	{% load bootstrap3 %}
	{% bootstrap_css %}
	<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
	{% bootstrap_javascript %}
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>


</head>

	<body>
	
	{% include 'navbar.html' %}
	
	<h1><center>{% block title %}{% endblock %}</center></h1>
		<div class="container" id="messages">
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
						<div class="alert alert-{% if message.tags == 'ERROR' %}danger{% else %}{{ message.tags }}{% endif %}">
							{{ message }}
						</div>
					{% endfor %}
				</ul>
			{% endif %}
			
			{% if form.errors %}
			    {% for field in form %}
			        {% for error in field.errors %}
			            <div class="alert alert-danger">
			                <strong>{{ field.label }}:{{ error|escape }}</strong>
			            </div>
			        {% endfor %}
			    {% endfor %}
			    {% for error in form.non_field_errors %}
			        <div class="alert alert-danger">
			            <strong>{{ error|escape }}</strong>
			        </div>
			    {% endfor %}
			{% endif %}
			
			
			
		</div>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
  
    <script type="text/javascript">
	    {% block javascript %}
	    {% endblock %}
    </script>

	</body>
</html>

